body {    
    height: 100%;
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
}

.header {

    width: 20%;
    text-align: right;
}   

.MainBar {
    background-color: #E9E9E9;
    height: 104px;
    width: 1286px;
}

.img-icon {
    width: 46px;
    height: 40px;
}

.master-table {
    margin: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
    padding: 0px;
    margin-bottom:15px;
    height: 60px;
    background-color: #E9E9E9;
    width:100%;
    }

    .master-table td {
        background-color: inherit;       
        vertical-align: top;
    }

.profile-img {
    width: 71px;
    height: 55px;
    top: 0;
    margin-left: 4px;
    margin-top: 0px;
}

.menu-items {
    width: inherit;
   
     text-align:center;
    height: inherit;
}

.menu-logo {
    text-align: left;
    width: 20%;
    height: inherit;
}

.menu-language {
    text-align: left;
     width: 65px;
     height: inherit;    
}

.menu-profilpic {
    width: 65px;
    height: 55px;

}
.NewStaff {
    width:65%; 
    margin-left: 400px;
    margin-right: 82px;
    margin-top: 30px;
    margin-bottom: 24px;
}

    .NewStaff td {
        height: 25px; 
       
    }

.NewStaffCol1 {
     width: 160px;
}

.NewStaffCol2 {
     width: 250px;
}
.div-default 
{
    margin-left: 123px;
    width: 87px;
}

.radio { 
    width:55%; 
    margin-left: 123px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 21px;
  list-style: none; 
}

    ul.radio li {
          margin-left: 450px;
    }

.Paramfield {
    
    width: 400px;
    margin-left: 400px;
}

.buttondefault {
    align-self: center;
    text-align: center;
    margin-left: 170px;
    margin-top: 27px;
}